@section head
{
    <script type="text/javascript">
        var index_tabs;
        var index_tabsMenu;
        var index_layout;
        $(function () {
            index_layout = $('#index_layout').layout({
                fit: true
            });
            /*index_layout.layout('collapse', 'east');*/

            InitThemeMenuIcon();

            InitLanMenuIcon();

            index_tabs = $('#index_tabs').tabs({
                fit: true,
                border: false,
                onContextMenu: function (e, title) {
                    e.preventDefault();
                    index_tabsMenu.menu('show', {
                        left: e.pageX,
                        top: e.pageY
                    }).data('tabTitle', title);
                },
                tools: [{
                    iconCls: 'database_refresh',
                    handler: function () {
                        var href = index_tabs.tabs('getSelected').panel('options').href;
                        if (href) {/*说明tab是以href方式引入的目标页面*/
                            var index = index_tabs.tabs('getTabIndex', index_tabs.tabs('getSelected'));
                            index_tabs.tabs('getTab', index).panel('refresh');
                        } else {/*说明tab是以content方式引入的目标页面*/
                            var panel = index_tabs.tabs('getSelected').panel('panel');
                            var frame = panel.find('iframe');
                            try {
                                if (frame.length > 0) {
                                    for (var i = 0; i < frame.length; i++) {
                                        frame[i].contentWindow.document.write('');
                                        frame[i].contentWindow.close();
                                        frame[i].src = frame[i].src;
                                    }
                                    if (navigator.userAgent.indexOf("MSIE") > 0) {// IE特有回收内存方法
                                        try {
                                            CollectGarbage();
                                        } catch (e) {
                                        }
                                    }
                                }
                            } catch (e) {
                            }
                        }
                    }
                }, {
                    iconCls: 'delete',
                    handler: function () {
                        var index = index_tabs.tabs('getTabIndex', index_tabs.tabs('getSelected'));
                        var tab = index_tabs.tabs('getTab', index);
                        if (tab.panel('options').closable) {
                            index_tabs.tabs('close', index);
                        } else {
                            $.messager.alert('提示', '[' + tab.panel('options').title + ']不可以被关闭！', 'error');
                        }
                    }
                }]
            });

            index_tabsMenu = $('#index_tabsMenu').menu({
                onClick: function (item) {
                    var curTabTitle = $(this).data('tabTitle');
                    var type = $(item.target).attr('title');

                    if (type === 'refresh') {
                        index_tabs.tabs('getTab', curTabTitle).panel('refresh');
                        return;
                    }

                    if (type === 'close') {
                        var t = index_tabs.tabs('getTab', curTabTitle);
                        if (t.panel('options').closable) {
                            index_tabs.tabs('close', curTabTitle);
                        }
                        return;
                    }

                    var allTabs = index_tabs.tabs('tabs');
                    var closeTabsTitle = [];

                    $.each(allTabs, function () {
                        var opt = $(this).panel('options');
                        if (opt.closable && opt.title != curTabTitle && type === 'closeOther') {
                            closeTabsTitle.push(opt.title);
                        } else if (opt.closable && type === 'closeAll') {
                            closeTabsTitle.push(opt.title);
                        }
                    });

                    for (var i = 0; i < closeTabsTitle.length; i++) {
                        index_tabs.tabs('close', closeTabsTitle[i]);
                    }
                }
            });
        });
        /*初始化Language菜单选择图标*/
        function InitLanMenuIcon() {
            if ($.cookie('YoYoLanguage')) {
                $('#layout_north_lanMenu').menu('setIcon', {
                    target: $('#layout_north_lanMenu div[title=' + $.cookie('YoYoLanguage') + ']')[0],
                    iconCls: 'tick'
                });
            }
        }


        /*初始化Theme菜单选择图标*/
        function InitThemeMenuIcon() {
            if ($.cookie('YoYoThemeName')) {
                $('#layout_north_pfMenu').menu('setIcon', {
                    target: $('#layout_north_pfMenu div[title=' + $.cookie('YoYoThemeName') + ']')[0],
                    iconCls: 'tick'
                });
            }
        }
        /*更换系统语言*/
        function changeLangeage(lanName) {
            $.post(
				'@Url.Content("~/Home/ChangeLanguage")',
				{ languName: lanName },
				function (data) {
				    var data = $.parseJSON(data);
				    if (data.Result) {
				        location.reload();
				    }
				});
        };


        /*更换EasyUI主题的方法*/
        function changeThemeFun(themeName) {
            if ($.cookie('YoYoThemeName')) {
                $('#layout_north_pfMenu').menu('setIcon', {
                    target: $('#layout_north_pfMenu div[title=' + $.cookie('YoYoThemeName') + ']')[0],
                    iconCls: 'emptyIcon'
                });
            }
            $('#layout_north_pfMenu').menu('setIcon', {
                target: $('#layout_north_pfMenu div[title=' + themeName + ']')[0],
                iconCls: 'tick'
            });

            var $easyuiTheme = $('#easyuiTheme');
            var url = $easyuiTheme.attr('href');
            var href = url.substring(0, url.indexOf('themes')) + 'themes/' + themeName + '/easyui.css';
            $easyuiTheme.attr('href', href);

            var $iframe = $('iframe');
            if ($iframe.length > 0) {
                for (var i = 0; i < $iframe.length; i++) {
                    var ifr = $iframe[i];
                    try {
                        $(ifr).contents().find('#easyuiTheme').attr('href', href);
                    } catch (e) {
                        try {
                            ifr.contentWindow.document.getElementById('easyuiTheme').href = href;
                        } catch (e) {
                        }
                    }
                }
            }

            $.cookie('YoYoThemeName', themeName, {
                path: '/',
                expires: 7
            });
        }

        function logoutFun(b) {
            $.getJSON('${pageContext.request.contextPath}/userController/logout', {
                t: new Date()
            }, function (result) {
                if (b) {
                    location.replace('${pageContext.request.contextPath}/');
                } else {
                    $('#sessionInfoDiv').html('');
                    $('#loginDialog').dialog('open');
                }
            });
        }

        function editCurrentUserPwd() {
            parent.$.modalDialog({
                title: '修改密码',
                width: 300,
                height: 250,
                href: '@Url.Content("~/SystemManagement/UserManage/ChangePassword")',
                buttons: [{
                    text: '修改',
                    handler: function () {
                        $('#editUserPwdForm').form({
                            url: '@Url.Content("~/SystemManagement/UserManage/ChangePassword")',
                            onSubmit: function () {
                                var isValid = $(this).form('validate');
                                if (!isValid) {
                                }
                                return isValid;
                            },
                            success: function (data) {
                                var data = $.parseJSON(data);
                                if (!data.Result) {
                                    $.messager.alert(data.Title, data.Message, 'error');
                                    return false;
                                }
                                else {
                                    $(this).form('clear');
                                    $.messager.alert(data.Title, data.Message, 'info');
                                }
                            }
                        });
                    }
                },
							{
							    text: '取消',
							    iconCls: "icon-cancel",
							    handler: function () {
							        parent.$.modalDialog.handler.dialog('close');
							    }
							}
							]
            });
        }

        function currentUserRole() {
            parent.$.modalDialog({
                title: '我的角色',
                width: 300,
                height: 250,
                href: '${pageContext.request.contextPath}/userController/currentUserRolePage'
            });
        }
        function currentUserResource() {
            parent.$.modalDialog({
                title: '我可以访问的资源',
                width: 300,
                height: 250,
                href: '${pageContext.request.contextPath}/userController/currentUserResourcePage'
            });
        }

    </script>
}
@{
    var currentuser = YOYO.HRMS.MVC.CurrentParemeter.GetCurrentUser();
    var currentCorp = YOYO.HRMS.MVC.CurrentParemeter.GetCurrentCorporate();
    var welcomeMsg = @T("Welcome", false) + "   " + @T("CurrentUser", false) + ":[" + currentuser.UserCode + "]"
        + currentuser.UserName + "  " + @T("CurrentCorp", false) + ":[" + currentCorp.CorporateCode + "]"
        + currentCorp.CorporateName;
}
<div id="index_layout">
    @*North 面板 开始*@
    <div data-options="region:'north'" style="height: 70px; overflow: hidden;" class="logo">
        <div style="position: absolute; right: 0px; bottom: 0px;">
            <a href="javascript:void(0);" class="easyui-menubutton" data-options="menu:'#layout_north_lanMenu',iconCls:'cog'">
                更换语言</a> <a href="javascript:void(0);" class="easyui-menubutton" data-options="menu:'#layout_north_pfMenu',iconCls:'cog'">
                    更换皮肤</a> <a href="javascript:void(0);" class="easyui-menubutton" data-options="menu:'#layout_north_kzmbMenu',iconCls:'cog'">
                        控制面板</a>
            <!--<a href="javascript:void(0);" class="easyui-menubutton" data-options="menu:'#layout_north_zxMenu',iconCls:'cog'">
					注销</a>-->
        </div>
        <div id="layout_north_lanMenu" style="width: 120px; display: none;">
            <div onclick="changeLangeage('en-US');" title="en-US">
                English</div>
            <div onclick="changeLangeage('zh-CN');" title="zh-CN">
                简体中文</div>
            <div onclick="changeLangeage('zh-TW');" title="zh-TW">
                繁体中文</div>
        </div>
        <div id="layout_north_pfMenu" style="width: 120px; display: none;">
            <div onclick="changeThemeFun('default');" title="default">
                default</div>
            <div onclick="changeThemeFun('gray');" title="gray">
                gray</div>
            <div onclick="changeThemeFun('metro');" title="metro">
                metro</div>
            <div onclick="changeThemeFun('bootstrap');" title="bootstrap">
                bootstrap</div>
            <div onclick="changeThemeFun('black');" title="black">
                black</div>
            <div class="menu-sep">
            </div>
            <div onclick="changeThemeFun('cupertino');" title="cupertino">
                cupertino</div>
            <div onclick="changeThemeFun('dark-hive');" title="dark-hive">
                dark-hive</div>
            <div onclick="changeThemeFun('pepper-grinder');" title="pepper-grinder">
                pepper-grinder</div>
            <div onclick="changeThemeFun('sunny');" title="sunny">
                sunny</div>
            <div class="menu-sep">
            </div>
            <div onclick="changeThemeFun('metro-blue');" title="metro-blue">
                metro-blue</div>
            <div onclick="changeThemeFun('metro-gray');" title="metro-gray">
                metro-gray</div>
            <div onclick="changeThemeFun('metro-green');" title="metro-green">
                metro-green</div>
            <div onclick="changeThemeFun('metro-orange');" title="metro-orange">
                metro-orange</div>
            <div onclick="changeThemeFun('metro-red');" title="metro-red">
                metro-red</div>
        </div>
        <div id="layout_north_kzmbMenu" style="width: 100px; display: none;">
            <div onclick="editCurrentUserPwd();">
                切换公司</div>
            <div class="menu-sep">
            </div>
            <div onclick="editCurrentUserPwd();">
                修改密码</div>
            <div class="menu-sep">
            </div>
            <div onclick="logoutFun(true);">
                退出系统</div>
            <div class="menu-sep">
            </div>
            <div onclick="currentUserRole();">
                我的角色</div>
            <div class="menu-sep">
            </div>
            <div onclick="currentUserResource();">
                我的权限</div>
        </div>
    </div>
    @*修改密码弹窗*@
    <div id="EditPassword" class="easyui-layout" data-options="border:false" style="width: 300px;
        display: none">
        <div data-options="region:'center',border:false" title="" style="overflow: hidden;">
            <form id="editUserPwdForm" method="post">
            <table @*class="table table-hover table-condensed"*@ width="270">
                <tr>
                    <th width="100">
                        登录名
                    </th>
                    <td>
                        [@currentuser.UserCode]@currentuser.UserName
                    </td>
                </tr>
                <tr>
                    <th>
                        原密码
                    </th>
                    <td>
                        <input name="oldPwd" type="password" placeholder="请输入原密码" class="easyui-validatebox"
                            data-options="required:true">
                    </td>
                </tr>
                <tr>
                    <th>
                        新密码
                    </th>
                    <td>
                        <input name="pwd" type="password" placeholder="请输入新密码" class="easyui-validatebox"
                            data-options="required:true">
                    </td>
                </tr>
                <tr>
                    <th>
                        重复
                    </th>
                    <td>
                        <input name="rePwd" type="password" placeholder="请再次输入新密码" class="easyui-validatebox"
                            data-options="required:true,validType:'eqPwd[\'#editUserPwdForm input[name=pwd]\']'">
                    </td>
                </tr>
            </table>
            </form>
        </div>
    </div>
    @*North 面板 结束*@ @*West 面板 结束*@
    <div data-options="region:'west',split:true" title="模块导航" style="width: 200px; overflow: hidden;">
    </div>
    @*West 面板 结束*@ @*Center 面板 开始*@
    <div data-options="region:'center'" title="@welcomeMsg" style="overflow: hidden;">
        <div id="index_tabs" style="overflow: hidden;">
            <div title="首页" data-options="border:false" style="overflow: hidden;">
                <iframe src="/Home/TabIndex" frameborder="0" style="border: 0; width: 100%; height: 98%;">
                </iframe>
            </div>
        </div>
    </div>
    @*Center 面板 结束*@ @*East 面板 开始
		<div data-options="region:'east'" title="日历" style="width: 230px; overflow: hidden;"></div>
	East 面板 结束*@ @*South 面板 开始*@
    <div data-options="region:'south',border:false" style="height: 30px; overflow: hidden;">
        <div class="panel-header panel-title" style="text-align: center;">
            版权所有 YoYo Father</a>
        </div>
    </div>
    @*South 面板 结束*@
</div>
@*Tab弹出菜单*@
<div id="index_tabsMenu" style="width: 120px; display: none;">
    <div title="refresh" data-options="iconCls:'transmit'">
        刷新</div>
    <div class="menu-sep">
    </div>
    <div title="close" data-options="iconCls:'delete'">
        关闭</div>
    <div title="closeOther" data-options="iconCls:'delete'">
        关闭其他</div>
    <div title="closeAll" data-options="iconCls:'delete'">
        关闭所有</div>
</div>
